body {
  background-color: rgb(78, 100, 93);
  background-image: url(https://image.freepik.com/vetores-gratis/ilustracao-da-lista-de-tarefas_53876-28518.jpg);
  background-size: cover;
}

.completed {
  text-decoration: line-through solid rgb(0, 0, 0);
}